body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0; 
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-sizing: border-box;
}

.header-block {
    background-color: #ffffff;
    border-bottom: 1px solid #E7E9FC;

}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-address-ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}

.logotyp-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    color: #4d5ae5;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.logotyp-studio {
    color: #2e2f42;
}

.navigaciia-menu-bloke {
    padding: 24px 0;
    display: block; 
    text-decoration: none;
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.menu a.menu-block:active {
    color: #404bbf;
    background-color: #404bbf;
}

.menu a:hover,
.menu a:focus {
    color: #404bbf;
}

.contacts {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    letter-spacing: 0.02em;
}

.contacts:hover,
.contacts:focus {
    color: #404bbf;
}

.navigaciia-address {
    font-style: normal;
    margin-left: auto;
}

.gaslo {
    background-color: #2e2f42;
}

.title-gaslo {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    font-weight: 700;
}

.button-tab {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    line-height: 1.5;
}

.button-tab:hover,
.button-tab:focus {
    color: #e7e9fc;
    background-color: #404bbf;
}

.studio-criterion {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #2e2f42;
}


.studio-criterion-descrip {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.visually-hidden {
    visibility: hidden;
}

.team-comands {
    background-color: #f4f4fd;
}

.team-name {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-clast {
    background-color: #ffffff;
}

.team-card-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-card-parag {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-part {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-part-app {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
}

.portfolio-part-banking-app {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer-block-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    color: #4d5ae5;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.footer-block-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #f4f4fd;
    letter-spacing: 0.03em;
}

.footer-block {
    background-color: #2e2f42;
}

.footer-block-paragraph {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}